html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 30em;
    margin: auto;
}

p.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}

p.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

p.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.svgs {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 1px;
    width: 302px;
    margin: auto;
}

p.svgs svg {
    border: 1px solid black;
}
